.starw {
    text-align: left;
}
.infinity {
    text-align: center;
    margin-left: 50px;
}

.avatar{
    text-align: right;
    margin-left: 50px;
}

.forrest{
    text-align: left;
}
.alertaroja{
    text-align: center;
    margin-left: 50px;
}
.batman{
    text-align: right;
    margin-left: 50px;
}
.bb{
    text-align: left;
    
}
.lcdp{
    text-align: center;
    margin-left: 50px;
}
.daredevil{
    text-align: right;
    margin-left: 50px;
}
.ctangana{
    text-align: left;
}
.badbunny{
    text-align: center;
    margin-left: 50px;
}
.mora{
    text-align: right;
    margin-left: 50px;
}
